
body {background-color: rgba(113, 62, 134, 0.75);
    font-family:Arial, Helvetica, sans-serif ;
    color: rgba(12, 11, 11 );
    padding-bottom: 100px; /* Ajusta este valor según la altura del footer */
    margin: 0;
}

header {
    padding: 100px;
    text-align: center;
    margin-top: 5%;
  }

.container {
    display: flex;
    justify-content: center; 
  }

.card { display: flex;
    justify-content: center; /* Centra el contenedor horizontalmente */
 
}

.full-height {
    height: 100vh; /* Altura completa del viewport */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
  }
  .card-group {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espacio entre las tarjetas */
  }

  .imagen-estilo  {
    position:absolute;
    top: 0;
    left: 0;
    width: 100px; 
    height: auto; 
    margin-top: 2px;
}
.footer {
    background-color:rgba(25, 135, 84, 0.75) ; /* Color de fondo claro */
    padding: 10px 0; /* Espaciado vertical pequeño */
    text-align: center; /* Alineación centrada del texto */
    position: relative; /* Posicionamiento relativo para un espaciado adecuado */
    bottom: 0; /* Alineación al fondo */
    width: 100%; /* Ancho completo del contenedor */
    font-size: 0.875rem; /* Tamaño de fuente más pequeño */
     }

/* Estilos para pantallas de tamaño pequeño (teléfonos) */
    @media (max-width: 600px) {
    header {
      padding: 50px;
      margin-top: 2%;
    }

    .container {
      flex-direction: column; /* Cambia la dirección del flex a columna */
    }

    .card {
      flex-direction: column; /* Cambia la dirección del flex a columna */
    }

    .card-group {
      flex-direction: column; /* Cambia la dirección del flex a columna */
      gap: 0.5rem; /* Reduce el espacio entre las tarjetas */
    }

    .imagen-estilo {
      width: 80px; /* Reduce el tamaño de la imagen */
    }

    .footer {
      padding: 5px 0; /* Reduce el espaciado vertical en pantallas pequeñas */
     }
    }
        /* Estilos para pantallas grandes (escritorios) */
        @media (min-width: 1025px) {
        body {
         background-color:rgba(113, 62, 134, 0.75);
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(12, 11, 11);
        padding-bottom: 100px; /* Ajusta este valor según la altura del footer */
        margin: 0;
      
         }

    header {
      padding: 100px;
      text-align: center;
      margin-top: 5%;
        }

    container {
      display: flex;
      justify-content: center;
      flex-direction: row; /* Asegura que el contenedor sea una fila */
        }

    .card {
      display: flex;
      justify-content: center; /* Centra el contenedor horizontalmente */
        }

  

    .card-group {
      display: flex;
      justify-content: center;
      gap: 1rem; /* Espacio entre las tarjetas */
        }

    .imagen-estilo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px; 
      height: auto; 
      margin-top: 2px;
        }

    .footer {
      background-color: rgba(25, 135, 84, 0.5); /* Color de fondo claro */
      padding: 10px 0; /* Espaciado vertical pequeño */
      text-align: center; /* Alineación centrada del texto */
      position: relative; /* Posicionamiento relativo para un espaciado adecuado */
      bottom: 0; /* Alineación al fondo */
      width: 100%; /* Ancho completo del contenedor */
      font-size: 0.875rem; /* Tamaño de fuente más pequeño */
        }
    }