body {background-color: $colorVioleta;
    font-family:$font-family;
    color:$colorNegro ;
    padding-bottom: $padding-bottom ; 
    margin: 0;   }
h2 { font-size:large;}
h3 {  font-size: large; }
